body {
    background-color: lightblue;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman';
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 40px;
    font-family: 'Times New Roman';
    color: black;
    margin: 20px;
}

h3 {
    font-size: 24px;
    font-family: 'Times New Roman';
    color: black;
    margin: 20px;
}

p {
    padding: 20px 30px;
    margin: auto;
    line-height: 150%;
}

p a {
    text-transform: uppercase;
    text-decoration: underline;
}

figcaption {
    text-align: center;
    padding: 5%;
    padding-top: 0px;
}

img,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    border: dashed white 2px;
}

img:hover,
video:hover {
    border: solid white 5px;
}



/* .likes {
    text-align: center;
}

.likes li {
    min-width: 25%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
} */

.ingredients {
    list-style: disc;
    margin: 0px 60px;
}

.steps {
    list-style: decimal;
    margin: 0px 60px;
}

.item,
.itemt,
.itemr {
    border: solid 2px white;
    margin: 5px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
}

.info,
.likes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    column-gap: 4%;
}

.likes {
    padding-bottom: 10px;
}

/* .item1 {
    grid-column-start: 1 / 1;
}

.item2 {
    grid-column-start: 2 / 2;
}

.item3 {
    grid-column-start: 3 / 3;
} */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    border: solid 2px black;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: darkblue;
    border: solid 2px black;
    text-decoration: underline;
    text-transform: uppercase;
}

#skip {
    position: absolute;
    background-color: black;
    color: lightblue;
    padding: 10px;
    left: -10000px;
}

#skip:focus {
    box-sizing: border-box;
    width: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    animation-name: skipping;
    animation-duration: 1s;
}

.travel_img {
    display: none;
}

footer {
    background-image: url("../images/background_img.jpeg");
    text-align: center;
}

.icon,
.nav_foot {
    font-size: 24px;
    font-family: Vina Sans;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.comment-section {
    border: #000 solid 2px;
    margin: 1%;
    margin-bottom: 5%;
}

.comment-section input {
    border: #000 solid 2px;
    width: 70%;
    margin: 2%;
    padding: 1%;
}

.comment-section button {
    margin: 2%;
    padding: 1%;
    border: #000 solid 2px;
    width: 15%;
    float: right;
    text-align: center;
}

.comment-section ul {
    border: #000 solid 2px;
    padding: 1%;
    margin: 2%;
    white-space: normal;
    height: auto;
    word-wrap: break-word;
}

.like-section {
    margin: 1%;
}

.total_likes {
    font-size: larger;
    margin-left: 2%;
}

.like {
    border: #000 solid 2px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

@keyframes skipping {
    0% {
        top: -100px
    }

    100% {
        left: 10px;
        top: 10px;
    }
}

.type {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    .gif {
        display: none;
    }

    #skip:focus,
    .type,
    .item,
    .itemt,
    .itemr {
        animation: none;
        opacity: 1;
    }

    .travel_img {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: #E39FF6;
    }

    .photos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    .photos_food {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .photos a {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }

    .photos_food a {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }

    .photos a * {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .photos_food a * {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .photos_food a:nth-child(3) {
        grid-column: span 2;
    }

    #skip {
        color: #E39FF6;
    }

    .navbar a.active {
        background-color: #600080;
    }

    .info_travel,
    .methods {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photos_travel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photos_travel figure:nth-child(5) {
        grid-column: span 2;
    }

    .steps,
    .ingredients {
        margin: 30px;
    }

    .photos_food {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: pink;
    }

    #skip {
        color: white;
    }

    .navbar a.active {
        background-color: #AD0057;
    }

    .item {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: auto auto auto;
    }

    .box1 {
        grid-column: 1;
        grid-row: 1;
    }

    .box2 {
        grid-column: 1;
        grid-row: 2;

    }

    .box2>img {
        max-height: 100%;
        max-width: 100%;
    }

    .box3 {
        grid-column: 2;
        grid-row: 2;
    }

    .box4 {
        grid-column: 3;
        grid-row: 1;
    }

    .box5 {
        grid-column: 3;
        grid-row: 2;
    }

    .box6 {
        grid-column: 1;
        grid-row: 3;
    }

    .box7 {
        grid-column: 1/-1;
        grid-row: 4;
    }

    .itemt {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto auto auto auto;
    }

    .tb1 {
        grid-column: 1/3;
        grid-row: 1;
    }

    .tb2 {
        grid-column: 1/3;
        grid-row: 2;
    }

    .tb3 {
        grid-column: 4/-1;
        grid-row: 1;
    }

    .info_travel {
        grid-column: 3/-1;
        grid-row: 2;
    }

    .tb4 {
        grid-column: 1;
        grid-row: 3;
    }

    .photos_travel {
        grid-column: 1/-1;
        grid-row: 4;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .photos_travel figure:nth-child(5) {
        grid-column: span 1;
    }

    .itemr {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: auto auto auto auto;
    }

    .rb1 {
        grid-column: 1/3;
        grid-row: 1;
    }

    .info {
        grid-column: 3;
        grid-row: 1;
    }

    .rb2 {
        grid-column: 1/-1;
        grid-row: 2;
    }

    .info {
        margin-top: auto;
        margin-bottom: auto;
    }

    .rb3 {
        grid-column: 1;
        grid-row: 3;
        margin-top: auto;
        margin-bottom: auto;
    }

    .methods {
        grid-column: 2/-1;
        grid-row: 3;
        margin-top: auto;
        margin-bottom: auto;
    }

    .rb4 {
        grid-column: 1/-1;
        grid-row-start: 4;
    }

    .photos_food {
        grid-column: 1/-1;
        grid-row: 5;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .photos_food a:nth-child(3) {
        grid-column: span 1;
    }
}